textarea {
    display: inline-block;
    margin: 0;
    padding: .2em;
    width: 140px;
    height:100px;
    cursor: text;
    background-color: #F3E779;
    overflow: auto;
    resize: none;
}

.Name{
    background-color: #F3E779;
}

.Note {
    padding: 10px;
}