.board{
    position: static;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
  }
  
/* app bar at the top */  
.app-bar{
  display: flex;
  
  flex-direction: flex-end;
  height: 25px;
  padding: 15px;
  background-color: darkblue;

}

/* top left corner logo */
.logo2 {
  width: 63px;
  height: 63px;
  object-fit: cover;
 
  position: relative;
  margin-left:-10px;
  margin-top: -15px;
  }  

/* "*Board Name*" Text at top */  
.boardNameBanner{
   
    display: inline-block;
    justify-content: left;
    align-items: left;

    position:relative;
    z-index: 5;
      
    /*clear:center;*/
    /*top: -100px;*/
    top: 10px;
    float: left;

    font-size: 28px;
    color: #eeeeee;
     
    text-align:left;/* Add This*/
    box-sizing: border-box;
    
    top: -10px;
    left: 5px;
    
    margin: 5px;
    margin-right: 20px;
    white-space:nowrap;

    max-width: 300px;
    
    
} 

/* "New Note" Button */
.addnote{  
  display: inline-block; 
  
  background-color: #0374ff;
  
  border: 2px solid black;

  /* border: 4px double #cccccc; */
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 150px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: -10px;
  position: relative;
  font-weight: bold;
  margin-right: 30px;
  margin-left: auto;
  white-space: nowrap;

  
}

.addnote:hover{
  background-color: #F3E779;
  
  color: rgb(0, 0, 0);
}

  /* "Log out" button */
.logout{
    /* display: inline-block; */
    background-color: #0374ff;
    border: 2px solid black;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    position: relative;
    font-weight: bold;
    margin-left: 100px;
    margin: -10px;
    margin-right: 5px;
    white-space: nowrap;

    
    
  }

.logout:hover{
    background-color: #a49937;
  }  

  .shareNote{
    display: grid;
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    width: 120px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;

    outline: none; 
  }

  /* create lower bar */
.lowerbar{
  background-color: darkblue;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  

  position:fixed;
  bottom: 0px;
}

.boardSelect{
  height: 35px;
  margin-top: 5px;
  background-color: #0374ff;
  border: 2px solid black;
  color: #eeeeee;
  font-size: 15px;
  border-color: black;
  max-width: 125px;
}

/*createBoard button*/
.createBoard{
  background-color: #0374ff;
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
  height: 35px;
  /* border: 4px double #cccccc; */
  color: #eeeeee;
  font-size: 15px;

  text-align: center;
  /* font-size: 14px;
  padding: 4px;
  width: 120px; */
  /* float: left; */

  outline: none; 
}

.createBoard:hover{
  background-color: blue;
  color: rgb(255, 255, 255);
}

/* delete board button */
.deleteBoard{
  background-color: #0374ff;
  border: 2px solid black;
  margin: 4px;
  height: 35px;
  padding: 4px;
  color: #eeeeee;
  font-size: 15px;

  text-align: center;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  float: inline-start;

  outline: none; 

  /* margin-right: 525px; */
}

.deleteBoard:hover{
  background-color: blue;
  color: rgb(255, 255, 255);
}

/* boardname input */
.boardname{
  display: inline-block;
  /* margin: 0; */
  margin-right: 5px;
  height: 35px;
  cursor: text;
  background-color: #F3E779;
  overflow: auto;
  resize: none;

  text-align: left;
  font-family: "Arial", "Courier New", monospace;
  box-sizing: border-box;
  border-radius: 0px;
  border: 2px solid black;
}

/* search input */
.search{
  display: inline-block;
  /* margin: 0; */
  margin-right: 5px;
  height: 35px;
  cursor: text;
  background-color: #F3E779;
  overflow: auto;
  resize: none;

  text-align: left;
  font-family: "Arial Black", "Impact", "Courier New", monospace;
  box-sizing: border-box;
  border-radius: 0px;
  border: 2px solid black;
  float: right;
}

/* search button */
.searchButton{
  background-color: #0374ff;
  border: 2px solid black;
  height: 35px;
  padding: 4px;
  color: #eeeeee;
  font-size: 15px;

  text-align: center;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  float: right;

  outline: none; 
}

.searchButton:hover{
  background-color: blue;
  color: rgb(255, 255, 255);
}



