.board{
    position: static;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
  }
  
  .app-bar{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    padding: 15px;
    background-color: darkblue;

    

  }

  .logout{
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 20px;
    background-color: #F3E779;
  }

  .addnote{
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 20px;
    background-color: #F3E779;
  }

  button[name=addnote] {
    display: inline-block;
    background-color: #0374ff;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 300px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }

  button[name=logout] {
    display: inline-block;
    background-color: #0374ff;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 300px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    
  }

 
  