.board{
    position: static;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
  }
  
  .app-bar{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    padding: 15px;
    background-color: darkblue;
  }

.button {
  border: 0;
  /*border-radius: 0.25rem; */
  background: #ff9d00;
  color: #ff9d00;
  font-family: -system-ui, sans-serif;
}  
  