.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
}

.form{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;

    display: inline-block;
    padding: 10px;
}