textarea{
    font-family: "Arial Black", "Impact", "Courier New", monospace;
}

.login-form {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Consolas", "monaco", monospace;
    font-size: 5px;
    text-align: center;
}

.form{
    background-color: #F3E779;
    font-family: "Consolas", "monaco", monospace;
    min-width: 500px;
    display: block;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;

    justify-content: center;
    align-items: center;
    
    justify-content: space-around;
    position: absolute;
    top: -50px;

    font-size: 26px;

    margin-top: +100px;
    overflow: hidden;
    

}

/* left logo */
.logo {
    width: 110px;
    height: 110px;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    padding-bottom:10px;
    }

/* right logo */
.logoRight {
    width: 110px;
    height: 110px;
    object-fit: cover;
    top: 0;
    right: 0;
    position: absolute;
   
}

/* welcome to stickies! banner */
.banner{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    display: grid;
    padding: 5px;
    margin-top: 10px;

    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    position:relative;
    top: auto;
    
    margin: auto;
    
    /*height:auto;*/
    
    text-align:center;/* Add This*/

    font-size: 40px;

    box-sizing: border-box;
    overflow: hidden;
    
}

.loginHeader{
    font-size: 25px;
    margin-top: -30px;
}

.loginPrompt{
    font-size: 20px;
}      

/*username input*/
.userName{    
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Consolas", "monaco", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 23px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
    position: relative;
}

/*password input*/
.passWord{  
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Consolas", "monaco", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 23px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
    position: relative;
}

/*login button*/
.logIn{    
    /*width: 100px;
    justify-content: right;
    align-items: right;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    border: 2px solid rgb(3, 133, 255);
    color: blue;
    border-radius: 0px;*/
    
    font-family: "Consolas", "monaco", monospace;
    display: grid;
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom: -100px;
    margin-top: -100px;
    float: inline-start;
 
}

.logIn:hover{
    background-color: #373630;
    
    /*color: rgb(0, 0, 0);*/
  }

      

/*placeholder text for username and password fields"*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0);
    opacity: 0.2; /* Firefox */
    font-style: italic;
  }

/* "Register Now" button */
.register{  
    display: grid;
    
    font-family: "Consolas", "monaco", monospace;

    justify-content: center;
    align-items: center;
    position: relative;
    display:grid;

    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 12px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;
   
    
    }

.register:hover{
    background-color: #373630;
    
    /*color: rgb(0, 0, 0);*/
}    

/* doesn't do anything anymore
header{
        font-size: x-large;
        text-align: center;
    } */
    
