body {
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;*/
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(35, 162, 205);
    height: 100%
  }

.lowerbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 28px;
    background-color:brown;
}

.Lowerbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 28px;
    background-color:brown;
}

Lowerbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 28px;
    background-color:brown;
}

.deleteboard{
    display: grid;
    background-color: #0374ff;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    width: 120px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;

    outline: none;

    
}

.deleteboard:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

.boardname{
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 40px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
}


.newboard{
    
    background-color: #0374ff;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 11px;
    padding: 4px;
    width: 70px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;
    white-space: nowrap;
    outline: none;

    
}

.newboard:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

textarea{
    font-size: 50px;
}