textarea {
    display: inline-block;
    margin: 0;
    padding: .2em;

    width: 210px;
    height:200px;

    cursor: text;
    background-color: #F3E779;
    overflow: auto;
    resize: none;

    text-align: left;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    font-size: 15px;

}

.name{
    background-color: #F3E779;

    width: 210px;
    font-size: 10px;
    text-align: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    padding: 10px;
}

.note {
    padding:  5px;
    width: 210px;
    text-align: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    
}

input[type=noteName]{
    width: 210px;
    align-items: center;
    justify-content: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: Center;
    font-size: 20px;
    padding:5px;
    
    
    background-color: #cee3fd;
    /*display: grid;
    float: inline-start;
    border-radius: 50px;*/
}

input[type=saveButt]{
 
    
    display: grid;
    background-color: #0374ff;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    width: 120px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;
 
}

.saveButton{
    display: grid;
    background-color: #0374ff;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
    padding: 5px; /*rpx*/
    width: 210px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;

    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;
    
    font-weight: bold;
}



.saveButton:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
}

/*controls registration button on login page still
button[name=register] {
    display: inline-block;
    background-color: #0374ff;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 500px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    justify-content: right;
    align-items: right;
    
    
  
  
  
  }
*/






