/*
textarea {
    display: inline-block;
    margin: 0;
    padding: .2em;

    width: 250px;
    height:200px;

    cursor: text;
    background-color: #F3E779;
    overflow: auto;
    resize: none;
    font-weight: normal;
    text-align: left;
    font-family: "Georgia", "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    
    border-radius: 0px;

    font-size: 12px;

}
*/

/*controls text area of note*/
.noteText{
    display: inline-block;
    margin: 0;
    padding: .2em;

    width: 250px;
    height:200px;

    cursor: text;
    background-color: #F3E779;
    overflow: auto;
    resize: none;
    font-weight: normal;
    text-align: left;
    font-family: "Arial", "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    /* border: 3px solid rgb(3, 133, 255); */
    border-radius: 0px;

    font-size: 12px;
}

/* doesn't seem to do anything atm
.name{
    background-color: #F3E779;

    width: 250px;
    font-size: 10px;
    text-align: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    padding: 10px;
} */

/* controls the whole note */
.note {
    padding:  5px;
    width: 250px;
    text-align: center;
    font-family: "Georgia", "Impact", "Courier New", monospace;
    
}

/* "Name Your Note!" input */
.name{    
    width: 210px;
    height: 37px;
    align-items: center;
    justify-content: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    /* border: 3px solid rgb(3, 133, 255); */
    border-radius: 0px;
    text-align: Center;
    font-size: 20px;
    padding:5px;
    
    float: left;
    
    background-color: #cee3fd;
    /*display: grid;
    float: inline-start;
    border-radius: 50px;*/
}

.deleteNote{
    
    background-color: #0374ff;
    /* border-radius: 5px; */
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: auto; */
    float: left;

    outline: none;

    
}

.deleteNote:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

.saveButtonUnchanged{
    
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    height: 34px;
    padding: 4px;
    width: 110px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: left;

    outline: none; 
}

.saveButtonUnchanged:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

.saveButtonChanged{
    
    background-color: #800000;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    height: 34px;
    padding: 4px;
    width: 110px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: left;

    outline: none; 
}

.saveButtonChanged:hover {
    background-color: red;
    color: rgb(255, 255, 255);
    
}

.shareTarget{
    width: 180px;
    align-items: center;
    justify-content: center;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    /* border: 3px solid rgb(3, 133, 255); */
    border-radius: 5px;

    text-align: center;
    font-size: 10px;
    padding:3px;
    display:block;
    
    background-color: #cee3fd;
    margin: auto;
    float: left;
    /*display: grid;
    float: inline-start;
    border-radius: 50px;*/
    white-space: nowrap;
}

.shareNote{
    padding-bottom: 15px;
    height: 30px;
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 4px;
    width: 70px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: left;
    white-space: nowrap;
    outline: none;

    
}

.shareNote:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

.leftShift{
    
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    /* height: 24px; */
    font-size: 20px;
    padding: 4px;
    width: 70px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: left;
    white-space: nowrap;
    outline: none;

    
}

.leftShift:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}

.rightShift{
 
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 4px;
    width: 70px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: left;
    white-space: nowrap;
    outline: none;

    
}

.rightShift:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
    
}





