
textarea{
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    
}
.registration-form {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Consolas", "monaco", monospace;
}

.form {
    background-color: #F3E779;
    /*display: inline-flexbox;*/
    display: grid;
    padding: 10px;
    font-family: "Consolas", "monaco", monospace;
    font-size: 26px;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    margin-top: +100px;
    overflow: hidden;
}

#login{
    background-color: #F3E779;
    font-family: "Consolas", "monaco", monospace;
}
#username{
    background-color: #F3E779;
    font-family: "Consolas", "monaco", monospace;
}


/*left logo*/  
.logo3 {
    width: 110px;
    height: 110px;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}
    
/*right logo*/    
.logo3right {
    width: 110px;
    height: 110px;
    object-fit: cover;
    top: 0;
    right: 0;
    position: absolute;
} 


/* "Create an account below!" banner */
.banner{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;

    width: 700px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;


    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    position:relative;
    z-index: 5;
    
    
    /*clear:center;*/
    /*top: -100px;*/
    top: auto;
    /* float: center; */
    
    
    text-align:center;/* Add This*/

    font-size: 40px;

    box-sizing: border-box;
    
    
}

.registerHeader{
    font-size: 25px;
    margin-top: -5px;
}

.registerPrompt{
    font-size: 20px;
}

/* "create a username" input field */
.userName{
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Consolas", "monaco", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 26px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
}

/* "create a password" field*/
.passWord{  
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Consolas", "monaco", monospace;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 26px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
}

/* "Create Account" button */
.createAccount{    
    
    display: grid;
    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    float: inline-start;

    margin-bottom: -100px;
    margin-top: -100px;
 
}

.createAccount:hover{
    background-color: #373630;
    
    /*color: rgb(0, 0, 0);*/
}

/* "Log in" button*/
.LogIn{    
    display: grid;
    
    justify-content: center;
    align-items: center;
    position: relative;
    display:grid;

    background-color: #0374ff;
    border-radius: 5px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    font-size: 16px;
    padding: 12px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;

    box-sizing: border-box;
   
    
}

.LogIn:hover{
    background-color: #373630;
    
    /*color: rgb(0, 0, 0);*/
}


header{
    font-size: x-large;
    text-align: center;
}

