
textarea{
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    
}
.registration-form {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
}

.form {
    background-color: #F3E779;
    /*display: inline-flexbox;*/
    display: grid;
    padding: 10px;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    font-size: 40px;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

#login{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
}
#username{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
}

.banner{
    background-color: #F3E779;
    font-family: "Arial Black", "Impact", "Courier New", monospace;

    display: inline-block;
    padding: 10px;

    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;

    justify-content: center;
    align-items: center;

    position:relative;
    z-index: 5;
    
    
    /*clear:center;*/
    /*top: -100px;*/
    top: auto;
    float: center;
    
    
    text-align:center;/* Add This*/

    font-size: 60px;

    box-sizing: border-box;
    
    
}

input[type=text]{
    width: 100px;
    align-items: right;
    justify-content: right;
    font-family: "Arial Black", "Impact", "Courier New", monospace;
    box-sizing: border-box;
    border: 3px solid rgb(3, 133, 255);
    border-radius: 0px;

    text-align: left;
    font-size: 40px;
    padding: auto;
    width: 330px;
    background-color: #cee3fd;
    display: grid;
    float: right;
}

/*login button*/
button[name=login] {
    display: grid;
    
    justify-content: center;
    align-items: center;
    position: relative;
    display:grid;

    background-color: #0374ff;
    border-radius: 50px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 24px;
    padding: 12px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;

    box-sizing: border-box;
   
    
      }

/* doesnt do anything*/
.button {
    border: 0;
    border-radius: 0.25rem;
    background: #1E88E5;
    color: rgb(230, 29, 29);
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
  }

.logo3 {
    width: 90px;
    height: 90px;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
    }  
.logo3right {
    width: 90px;
    height: 90px;
    object-fit: cover;
    top: 0;
    right: 0;
    position: absolute;
    } 
